*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #3F8DB1;
}

/* -------------- header -------------- */

header{
	background: #e1e1e1;
	height: 45px;
}

.logo{
	height: 90px;
	width: 85px;
	margin-left: 15%;
	float: left;
}

.main-nav{
	float: left;
	margin-left: 5%;
}

.main-nav ul li{
	display: inline-block;
	text-decoration: none;
	margin:0 4px;
	padding: 0 10px; 
	height: 45px;
	line-height: 45px;
}

.main-nav ul li:hover{
	background-color: #ccc;	
}

.main-nav ul li a{
	text-decoration: none;
	color: #000;
}

/* --------------- principal ---------------- */

.principal{
	background: url(../img/banner.jpg);
	background-size: cover;
	height: 480px;
}

.principal div{
	max-width: 900px;
	margin: 0 auto;
	color: #fff;
	padding-top: 300px; 
}



/* --------------- general ---------------- */

.general{
	background: #CCC;
	height: 300px;
}

.general .info{
	max-width: 900px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 125px; 
}

.general .info p{
	width: 630px;
	float: left;
}

.general .info a{
	background: #3F8DB1;
	color: #fff;
	text-decoration: none;
	padding: 15px 25px;
	margin: 15px 25px;
	display: inline-block;
}

.general .servicios{
	margin: 0 auto;
	max-width: 900px;
	background: #E1E1E1;
	height: 75px;
	line-height: 75px;
	float: left;
	margin: 0 254px;
}

.general .servicios a{
	text-decoration: none;
	background: #3F8DB1;
	color: #fff;
	padding: 15px 25px;
	border-radius: 30px;
	margin: 0 50px;
}

/* --------------- location ---------------- */

.location{
	max-width: 900px;
	margin: 50px auto;
	text-align: center;
	height: 280px;
	border-bottom: 1px solid #CBCBCB;
}

.imagenes{
	margin: 20px 0;
}

.imagenes img{
	height: 100px;
	width: 120px;
	margin: 0 10px;
}

/*------------------ news -------------------*/

