*{
	margin: 0;
	padding: 0;
}

/* -------------- header -------------- */

header{
	background: #e1e1e1;
	height: 45px;
}

.logo{
	height: 90px;
	width: 85px;
	margin-left: 15%;
	float: left;
}

.main-nav{
	float: left;
	margin-left: 5%;
}

.main-nav ul li{
	display: inline-block;
	text-decoration: none;
	margin:0 4px;
	padding: 0 10px; 
	height: 45px;
	line-height: 45px;
}

.main-nav ul li:hover{
	background-color: #ccc;	
}

.main-nav ul li a{
	text-decoration: none;
	color: #000;
}

/* --------------- principal ---------------- */

.principal{
	background: url(../img/banner.jpg);
	background-size: cover;
	height: 480px;
}

.principal div{
	max-width: 1000px;
	margin: 0 auto;
	color: #fff;
	padding-top: 300px; 
}



/* --------------- general ---------------- */

